<nav class="navbar bg-dark rounded  px-3 mt-3 ">


  <nav class="navbar">
    <img src="../../../assets/angular.png" alt="Bootstrap" width="10%" height="100%">
    <h1 style="color: aliceblue;">
      Ejercicios de clase
    </h1>
  </nav>






  <nav class="navbar justify-content-end">
    <ul class="nav nav-pills ">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ejercicio001" routerLinkActive="active">ejercicio001</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ejercicio002" routerLinkActive="active">ejercicio002</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ejercicio003" routerLinkActive="active">ejercicio003</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ejercicio004" routerLinkActive="active">ejercicio004</a>
      </li>
    </ul>
  </nav>



</nav>
